<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        #page_404 {
            display: flex; 
            flex-direction: column;
        }

        #page_404 a {
            width: 50%;
            text-align: center;
            margin: auto;
            text-decoration: none;
            font-size: 18px;
        }

        #page_404 img {
            margin: auto;
        }
    </style>
</head>
<body>
    <div id="page_404">
        <img src="/imgs/404.png" alt="404 picture">
        <a href="/">Quay về trang chủ</a>
    </div>
</body>
</html>