.header{
    height: var(--header-hight);
    z-index: 600000;
    width: 100%;
    background-color: #FFF;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    // width: 100%;
    padding-bottom: 1px;
    /* background-color: #2d79f3; */
    z-index: 9999999;

}
.header.is-fixed{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999999;
    animation: fade 0.25s forwards 1;
}

@keyframes fade {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.cover{
    /* max-width: 1700px;
    ww */
    /* display: flex; */
   /* max-width: 1300px; */
    margin: 0 auto;
    /* align-items: center; */
    /* justify-content: space-around; */
    height: 100%;
    max-width: 1400px;
    width: 100%;
    padding: 0 15px;


}
.header-nav-list{
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

.header-nav_a{
    display: inline-block;
}
.header-nav-img{
    max-height: 50px;
    margin-top: 12px;
    
}
.header-category-list{
    display: flex;
    list-style: none;
    align-items: center;
}
.header-category-item{
    margin: 0 12px;
    position: relative;
    
}

.header-category_a{
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 500;
    padding: 10px 0 15px;
    font-style:inherit;

}
.icon-category{
    font-size: 0.7rem;
    color: #000;
}

.catalog-list{
     position: absolute;
    top: 49px;
    list-style: none;
    width: 180px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 5px 8px;
    padding-bottom: 10px;
    display: none;
}
.header-category-item:hover .catalog-list{
    display: block;
}
.catalog-list::after{
    position: absolute;
    content: "";
    top: -25px;
    right: 50px;
    width: 142px;
    height: 35px;
}
.catalog-item{
    border-bottom:1px solid #ccc ;
    line-height: 26px;
}
.catalog-item:last-child{
    border-bottom: 0;
}
.catalog-item-a{
    text-decoration: none;
    color: #151717;
}
/*  header icon */

.header-nav_icon{
    text-decoration: none;
    color: #000;
    margin: 0 6px;
    font-size: 1.4rem;
    position: relative;
}

.header-nav_icon span i:hover {
    color: orangered;
}

.header-nav_icon-active{
    position: relative;
    }

.header-search *{
    pointer-events: none;
}
.header-search-list{
    right: -67px;
    position: absolute;
    top: 53px;
    background-color: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 300px;
    height: 164px;   
    border-radius: 10px;
    display: none;

}
.header-search-list.show{
    display: block;
}

.header-user-list__sub.show {
    display: block;
}

 .header-search-list::after{
    position: absolute;
    content: "";
    width: 90px;
    right: 59px;
    height: 49px;
    top: -19px;

} 
/* .header-search:hover .header-search-list{
    display: block;
} */
/* .header-search-main{
    margin-top: 12px;
    font-size: 1.1rem;
    font-weight: 600;
    text-align: center;
} */
.header-search-main {
    text-align: center;
    margin-top: 12px;
    font-size: 1.1rem;
    font-weight: 600;
    text-align: center;
}
.header-search-content{
    max-width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    margin-top: 20px;
}
.header-search-input{
    background-color: #eee;
    border: none;
    outline: navajowhite;
    font-size: 1rem;
    width: 90%;
    border-radius: 3px;
    color: #000;
    box-shadow: 0 0.4rem #dfd9d9;
    cursor: pointer;
    padding: 10px 3px;
    padding-left: 8px;
    /* text-align: center; */

}
.header-search-title{
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
}

.header-nav_icon{
    position: relative;
}

.header-user-list{
    position: absolute;
    right: -110px;
    top: 56px;
    padding: 0;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    /* background-color: #fff; */
    /* width: 350px; */
    /* height: 258px; */
    display: none;
    
}
.header-user-list.show{
    display: block;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    /* background-color: #2d79f3; */
    /* background-color: rgb(243, 243, 243); */
    background-color: #fff;
    padding: 30px 30px 60px 30px;
    width: 450px;
    max-height: 550px;
    border-radius: 3px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  ::placeholder {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .form button {
    align-self: flex-end;
    padding: 10px 0; 
  }
  
  .flex-column > label {
    color: #151717;
    font-weight: 600;
    font-size: 1rem;
  }
  
  .inputForm {
    border: 1.5px solid #ecedec;
    border-radius: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    transition: 0.2s ease-in-out;
  }
  
  .input {
    margin-left: 10px;
    border-radius: 10px;
    border: none;
    width: 100%;
    height: 100%;
    font-size: 1rem;
    padding: 8px 0;
  }
  
  .input:focus {
    outline: none;
  }
  
  .inputForm:focus-within {
    border: 1.5px solid #2d79f3;
  }
  
  .flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
  }
  
  .flex-row > div > label {
    font-size: 14px;
    color: black;
    font-weight: 400;
  }
  
  .span {
    font-size: 14px;
    margin-left: 5px;
    color: #2d79f3;
    font-weight: 500;
    cursor: pointer;
  }
  
  .button-submit {
    margin: 20px 0 10px 0;
    background-color: #151717;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    height: 50px;
    width: 100%;
    cursor: pointer;
  }
  
  .p {
    text-align: center;
    color: black;
    font-size: 14px;
    margin: 5px 0;
  }
  
  .btn {
    margin-top: 10px;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    gap: 10px;
    border: 1px solid #ededef;
    background-color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }
  
  .btn:hover {
    border: 1px solid #2d79f3;
    ;
  }

  .avatar {
    width: 40px;
  }

  .form-user {
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    /* background-color: #2d79f3; */
    /* background-color: rgb(243, 243, 243); */
    background-color: #fff;
    padding: 30px 30px 60px 30px;
    width: 300px;
    min-height: 200px;
    border-radius: 3px;
  }

  .header-user-list__sub {
    position: absolute;
    right: -116px;
    top: 54px; 
    display: none;
  }

  .search-product {
    width: 80%;
    margin: auto;
    padding: 8px 4px;
    font-size: 16px;
    border-radius: 5px;
    outline: none;
  }

  .btn-search {
    // width: 80%;
    // margin: auto;
    cursor: pointer;
  }