<div class="footer">
   <div class="cover">
      <ul class="footer-list">
         <li class="footer-item">
            <h2 class="footer-item-main">CÔNG TY CỔ PHẦN THỜI TRANG TV VIỆT NAM</h2>
            <p class="footer-item_text">
               Địa chỉ: Số 1, ngõ 40, tổ 14 phố Nguyễn Thị Định, Phường Nhân Chính, Quận Thanh Xuân, Hà Nội
               Người đại diện: NGÔ TRÍ TÙNG
               Mã số thuế: 0106533311, ngày cấp ĐKKD 08/05/2014. Nơi cấp: Sở kế hoạch và đầu tư Hà Nội.
            </p>
         </li>
         <li class="footer-item">
            <h2 class="footer-item-main">Chính sách</h2>
            <div class="footer-content">
               <a href="" class="footer-item_a">CS ĐỔI TRẢ</a>
               <a href="" class="footer-item_a">KT ĐƠN HÀNG</a>
               <a href="" class="footer-item_a">CS ĐỔI TRẢ</a>
            </div>
         </li>
         <li class="footer-item">
            <h2 class="footer-item-main">Cửa hàng</h2>
            <div class="footer-content">
               <a href="" class="footer-item_a">HÀ NỘI</a>
               <a href="" class="footer-item_a">BẮC GIANG</a>
               <a href="" class="footer-item_a">THANH HOÁ</a>
               <a href="" class="footer-item_a">QUẢNG NINH</a>
               <a href="" class="footer-item_a">CAO BẰNG</a>
               <a href="" class="footer-item_a">NAM DINH</a>
            </div>
         </li>
         <li class="footer-item">
            <h2 class="footer-item-main">TƯ VẤN BÁN HÀNG</h2>
            <div class="footer-content">
               <a href="tel:0325.252.312" class="footer-item_a">SDT: 0325.252.312</a>
               <span class="footer-item_a">Tất cả các ngày trong tuần</span>
               <a href="" class="footer-item_a footer-item-active">KẾT NỐI VỚI CHÚNG TÔI</a>
            </div>
            <p class="footer-icon">
            <ul class="social">
               <a href="https://www.facebook.com/vinhthanh438" class="change-default icon facebook">
                  <span class="tooltip">Facebook</span>
                  <span><i class="fab fa-facebook-f"></i></span>
               </a>
               <a href="https://www.instagram.com/kingsley_1205/" class="change-default icon instagram">
                  <span class="tooltip">Instagram</span>
                  <span><i class="fab fa-instagram"></i></span>
               </a>
               <a href="https://github.com/VinhThanh438" class="change-default icon github">
                  <span class="tooltip">Github</span>
                  <span><i class="fab fa-github"></i></span>
               </a>
               <a href="https://www.youtube.com/channel/UCWRXYX3MGFtHzXkLNUWScCg" class="change-default icon youtube">
                  <span class="tooltip">Youtube</span>
                  <span><i class="fab fa-youtube"></i></span>
               </a>
            </ul>
            </p>
         </li>
         <li class="footer-item">
            <h2 class="footer-item-main">CHĂM SÓC KHÁCH HÀNG</h2>
            <div class="footer-content">
               <a href="" class="footer-item_a"> SDT: 0325.252.312</a>
               <a href="" class="footer-item_a">Tất cả các ngày trong tuần</a>
            </div>
         </li>
      </ul>
   </div>
</div>
<div class="footer-mid">
   <ul class="footer-mid-list">
      <li class="footer-mid-item">
         <a class="footer-mid-text">  SIGN UP TO NEWSLETTER</a>
      </li>
      <li class="footer-mid-item">
         <input type="text" name="" id="" class="footer-mid-input" placeholder="Email address..." >
         <i class="ti-email input-email"></i>
      </li>
   </ul>
</div>